.main-overflow-hidden {
    overflow: hidden;
}

.editContainer {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    overflow-y: hidden;
}

.editContentContainer {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    position: relative;
}

.editImageContainer {
    display: flex;
    justify-content: center;
  }
  
.editImageContainer img {
    width: 100%;
    max-width: 420px;
}
  
.editImagePlaceholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    /*background-color: #d9d9d9;*/
    background: repeating-linear-gradient(
      -60deg,
      #eeeeee,
      #eeeeee 8px,
      #d9d9d9 8px,
      #d9d9d9 13px
    );
}
  
.editImagePlaceholderInner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
    border-radius: 50px;
}

.editImagePlaceholderInner img {
    margin: 10px;
    width: 40px;
}
  
.editImagePlaceholderInner span {
    margin-right: 10px;
}


.editInfosContainer table {
    width: 100%;
}

.editInfosContainer tr {
    width: 100%;
}

.editInfosContainer th,
.editInfosContainer td {
    border-bottom: 1px solid #d9d9d9;
    padding: 10px 0;
}

.editInfosContainer th {
    color: #999999;
    font-weight: 400;
    text-align: left;
    padding-right: 10px;
    width: 100px;
}

.editInfosContainer td {
    font-family: Arial;
    font-size: 13.33px;
}

.editInfosContainer input {
    width: 100%;
    height: 100%;
    border: none;
}

.editInfosContainer input:focus {
    outline: none;
}

.editFooterContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #ffda00;
    width: 100%;
}

.editFooterContainer ul {
    display: flex;
    list-style-type:none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.editFooterContainer li {
    flex: 1;
    margin: 10px 5px;
    text-align: center;
    cursor: pointer;
}

.editFooterContainer a,
.editFooterContainer a:visited {
    text-decoration: none;
    color: #1a1a1a;
}


.editVideoContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #000;
}

.editVideoControl {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.editLoaderContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

